﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><tittle><h1>Blazor Labs</h1></tittle></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stat-html">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Static Html
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Lab 2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="notes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lab 3/4
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="test">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lab 5/7
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="lab6_web">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lab 6/12
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="maps">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lab 10
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="lab16">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lab 16
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="4digits">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 4Digits
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
