﻿@page "/4digits"

<h1>4digits</h1>

<div class="container">
    <EditForm Model="@game" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <InputText id="input" @bind-Value="game.Input" />
        <button type="submit" class="btn-primary">Your turn</button>
    </EditForm>
    @for (int i = 0; i != game.Steps.Count; i++)
    {
        int num = game.Steps.Count - i;
        <h3>@num @game.Steps[i].ToString()</h3>
    }
    <h3 class="error">@game.Error.ToString()</h3>
</div>


@code
{
    private Four_digits game = new Four_digits();
    private void HandleValidSubmit()
    {
        game.Step();
        Console.WriteLine("ValidSubmit");
    }
}

