﻿@page "/"
@namespace Blazor_laboratories.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="utf-8">
        <meta author="Гурьев Константин">
        <meta robots="noindex">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta keywords= "gamedev">
        <meta description= "Multi-Universe Games official site.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap-grid.css"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap-reboot.css"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap-reboot.min.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body class="body-style">
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>
    <script src="_framework/blazor.server.js"></script>

    <footer>
        @{
            string subject = "Обратная связь, Гурьев Константин";
        }
        <a href="mailto:astorlmuc@gmail.com?Subject=@subject"><h1>Связаться с нами.</h1></a>
        <h3>Создатель сайта Гурьев Константин</h3>
        <h3>Группа 351717</h3>
        <h3>Направление информационные системы и технологии</h3>
        <h3>Уровень владения технологией HTML: HTML/CSS </h3>
        <h3>Хобби: разработка компюьтерных игр, музыка, рисование, изучение японской культуры и языка.</h3>
        <h3>2019-&copy;-Multi-Universe games</h3>
    </footer>
</body>
</html>
