﻿@page "/"

    <div class="sideblock">
        <iframe class="discord-widget" src="https://ptb.discordapp.com/widget?id=527883228229402624&theme=dark" allowtransparency="true"></iframe>
        <ul>
            <li><a href="https://forms.gle/2TgX5bgfHErm74p46" class="link">Заявка на вступление в комманду разработчиков</a></li>
        </ul>
    </div>

<div class="intro">
    <h1><strong>Добро пожаловать</strong></h1>
    <p>
        Добрый день, меня зовут Константин, но лично для меня более привычное имя в сети Leon Astor. Я основатель творческого
        обьединения "Multi-Universe Games.
    </p>
    <p>
        На данный момент, наш основной проект RPG игра "Multi-Universe Project: The Beginning".
        Данное название игры пока что <strong class="highlight">рабочее</strong> и применяется пока только внутри команды.
    </p>
    <p>
        Идея проекта возникла еще в мае 2016 года, а в середине июля 2017 была создана мини визуальная новелла на языке С＃, чтобы оценить его возможности.
        После создания данной мини новеллы, было принято решение, что данный формат не подходит для данной игры, и решено было, что даннная игра
        должна быть выпущена в жанре RPG.
    </p>
</div>