@page "/lab16"
<style>

    * {
        margin: 0;
        padding: 0;
    }



    body {
        font: 14px Arial, sans-serif;
        color: black;
    }



    ul#list {
        list-style: none;
        width: 80%;
        margin: 100px auto;
    }



        ul#list li {
            width: 20%;
            float: left;
            margin: 50px 250px 20px 30px;
            background-color: #d1f0ee;
        }



            ul#list li h2 {
                color: rgb(25, 125, 155);
                font-size: 22px;
                background: url(img/8icon.jpg) no-repeat;
                padding: 10px 10px 30px 32px;
            }



                ul#list li h2#num1 {
                    background-position: 0 0
                }

                ul#list li h2#num2 {
                    background-position: 0 -64px;
                }

                ul#list li h2#num3 {
                    background-position: 0 -128px;
                }

                ul#list li h2#num4 {
                    background-position: 0 -192px;
                }

                ul#list li h2#num5 {
                    background-position: 0 -256px;
                }

                ul#list li h2#num6 {
                    background-position: 0 -320px;
                }

                ul#list li h2#num7 {
                    background-position: 0 -384px;
                }

                ul#list li h2#num8 {
                    background-position: 0 -448px;
                }


            ul#list li p {
                margin-left: 42px;
            }
</style>

<ul id="list">
    <li>
        <h2 id="num1">Спрайт 1</h2>
        <p>Каждый охотник желает знать где сидит фазан </p>
    </li>

    <li>
        <h2 id="num2">Спрайт 2</h2>
        <p> Каждый охотник желает знать где сидит фазан</p>
    </li>

    <li>
        <h2 id="num3">Спрайт 3</h2>
        <p>Каждый охотник желает знать где сидит фазан</p>
    </li>

    <li>
        <h2 id="num4">Спрайт 4</h2>
        <p> Каждый охотник желает знать где сидит фазан</p>
    </li>

    <li>
        <h2 id="num5">Спрайт 5</h2>
        <p>Каждый охотник желает знать где сидит фазан</p>
    </li>

    <li>
        <h2 id="num6">Спрайт 6</h2>
        <p> Каждый охотник желает знать где сидит фазан</p>
    </li>

    <li>
        <h2 id="num7">Спрайт 7</h2>
        <p> Каждый охотник желает знать где сидит фазан</p>
    </li>

    <li>
        <h2 id="num8">Спрайт 8</h2>
        <p>Каждый охотник желает знать где сидит фазан</p>
    </li>



</ul>
