<html lang="ru">
<head>
    <title> Лаба 14_1</title>
	<style>
	#layer1 {
	    width: 65%;
	    height: 50%;
	    background-color: rgba(234,205,222,0.9);
	    display: block;
	    position: absolute;
	    top: 15%;
	    z-index: 1;
	    margin: 50px;
	    text-indent: 1.25cm;
	    text-align: center
	}
	
	#layer2 {
	    width: 30%;
	    height: 55%;
	    display: block;
	    overflow: auto;
	    z-index: 2;
	    background-image: url(lavanda.jpg);
	    background-repeat: repeat-x;
	    position: absolute;
	    top: 60%;
		margin: 20px;
	}

	
	#layer3 {
	    width: 37%;
	    display: block;
	    z-index: 2;
	    background-color: rgba(234,145,202,0.9);
	    position: absolute;
        top: 56%;
		left: 60%;
        padding: 10px;
        border-style: double;
        border-color: black;
	}
	.incut {
	    float: left;
        width: 90px; 
        background: rgba(254,245,122,0.9); 
        padding: 5px; 
        margin: 10px; 
	}
	
	h1{
	    font-size: 18pt;
        text-align:center;	
	}
	
	h2{
	    font-size: 28pt;
        text-align:center;	
	}
	
	body{
	    font-size: 18pt;
		background-image: url(fon14.jpg);
	}
	</style>
</head>
<body>
    <h2>Лабораторная 14</h2>
    <h1>(Абсолютное позиционирование слоев)</h1>
	<div id = "layer1">
		Практически для каждого элемента web-страницы, да и нее
		самой, можно задать фоновое оформление. В HTML-тегах за цвет
		фоновой заливки отвечал bgcolor, в таблицах стилей данное свойство
		определяется с помощью background-color. Изначально значение
		данного свойства задается как transparent – прозрачный. Цвет фона
		можно задавать аналогично цвету текста: по его названию, по
		шестнадцатеричному значению и с помощью RGB.
		Практически для каждого элемента web-страницы, да и нее
		самой, можно задать фоновое оформление. В HTML-тегах за цвет
		фоновой заливки отвечал bgcolor, в таблицах стилей данное свойство
		определяется с помощью background-color. Изначально значение
		данного свойства задается как transparent – прозрачный. Цвет фона
		можно задавать аналогично цвету текста: по его названию, по
		шестнадцатеричному значению и с помощью RGB.
	</div>
	<div id = "layer2">
	Кроме цвета фона и его прозрачности можно управлять фоновой
	картинкой, в том числе недоступными для HTML координатами ее
	размещения и способами повторения.<br>
	За задание фоновой картинки отвечает свойство background-
	image. В качестве значения используется путь к графическому файлу,
	который указывается внутри конструкции url(). Путь к файлу при
	этом можно писать как в кавычках (двойных или одинарных), так и
	без них. Когда фоновое изображение не требуется, аргумент может
	принимать значение none. 
	</div>
	<div id = "layer3">
	   <p class = "incut"> В HTML-тегах за цвет
		фоновой заливки отвечал bgcolor</p>
	   За задание фоновой картинки отвечает свойство background-
	image. В качестве значения используется путь к графическому файлу,
	который указывается внутри конструкции url(). Путь к файлу при
	этом можно писать как в кавычках (двойных или одинарных), так и
	без них. Когда фоновое изображение не требуется, аргумент может
	принимать значение none. 
	</div>
</body>
</html>