<html lang="ru">
<head>
    <title> Лаба 15</title>
    <style>

                body {
                    background-image: url(fon15.jpg);
                }

                h1 {
                    letter-spacing: 5px;
                    text-align: center;
                    margin: 30px;
                }

                h2 {
                    text-align: center;
                    margin: 20px;
                }

                h3 {
                    letter-spacing: 5px;
                    text-align: center;
                    margin: 30px;
                    font-size: 30px;
                }

                h4 {
                    text-align: left;
                    margin: 20px;
                    font-size: 20px;
                }



                p[align= "right"]:after {
                    content: "\00A9"
                }




                .shapka {
                    width: 95%;
                    height: 15%;
                    float: left;
                    background-color: rgba(234,205,222,0.64);
                    margin: 30px;
                }

                .menuu {
                    width: 20%;
                    height: 80%;
                    float: left;
                    background-color: rgba(234,205,222,0.64);
                    margin: 30px;
                    margin-right: 100px;
                }

                .kontent {
                    width: 65%;
                    height: 410%;
                    float: left;
                    background-color: rgba(234,205,222,0.64);
                    margin: 30px;
                }

                p.a1 {
                    text-align: left;
                }

                p.a2 {
                    text-align: center;
                }

                p.a3 {
                    text-align: right;
                }

                p.a4 {
                    text-align: center;
                }

                p.a5 {
                    text-align: right;
                }

                p {
                    font-family: sans-serif;
                    color: black;
                    margin: 10px;
                }

                    p:first-letter {
                        font-family: serif;
                        font-size: 300%;
                        color: red;
                    }


                ol {
                    list-style-type: none; /* Прячем маркеры
            списка */
                }

                ul {
                    list-style-type: none; /* Прячем маркеры
            списка */
                }

                li:before {
                    content: "\2604 "; /* Добавляем
            символ в юникоде */
                }

                h4 + p {
                    font-weight: bold;
                    font-style: italic
                }

                td:first-child {
                    background-color: gray;
                }

                TR:hover {
                    background: #fc0;
                    font-size: 20px;
                    /*Меняем цвет фона строки таблицы */
                }


                a[href^="http://"]:not([href*="webliberty.ru"]):after,
                a[href^="https://"]:not([href*="webliberty.ru"]):after,
                a[href^="ftp://"]:not([href*="webliberty.ru"]):after {
                    content: "" url('галка.gif');
                    padding-left: 5px;
                    OL #menu

                {
                    margin: 0;
                    padding: 0;
                }

                OL#menu > LI {
                    width: 250px; /* Ширина элемента в пикселях */
                    padding: 5px; /* Поля вокруг текста */
                    margin: 10px;
                    float: left; /*Располагаем элементы по
        горизонтали */
                }

                LI > OL {
                    list-style: none; /*Убираем маркеры списка */
                    margin: 0;
                    padding: 0; 
                    padding-top: 5px; /*Добавляем отступ сверху */
                    color: gray;
                }
    </style>
</head>


<body>

    <h1>Лабораторная 15</h1>

    <div class="shapka">
        <h3>Дополнительные возможности CSS</h3>

    </div>

    <div class="menuu">
        <h2>Меню</h2>


        <ol id="menu">
            <li>
                Уроки
                <ol>
                    <li>  <a href=#urok1>Урок 1</a></li>
                    <li>  <a href=#urok2>Урок 2</a></li>
                </ol>
            </li>
            <li>
                Дополнение
                <ol>
                    <li> <a href=#spisok> Список</a></li>
                    <li> <a href=#tabl>Таблица</a></li>
                </ol>
            </li>
        </ol>

    </div>

    <div class="kontent">
        <a name="urok1"></a>
        <h2>Контент</h2>
        <h4>Урок 1</h4>

        <p class="a1">
            Рассмотрим еще один практичный пример. Часто возникает
            необходимость в текст статьи включать различные сноски и
            примечания. Обычно для этой цели создается новый стилевой класс,
            и он применяется к абзацу, таким способом можно легко изменить
            вид текста. Но решение данной задачи можно реализовать и с
            помощью соседних селекторов[13]. Для выделения замечаний
            создадим новый класс, назовем его prim, и станем применять его к
            тегу . Существует целая группа тегов, кардинально меняющихся в
            зависимости от параметров и их значений. Несомненным лидером
            является несомненно тег, который может быть представлен,
            например, и в виде кнопки, и в виде текстового поля или даже
            радиокнопки. Во что превратиться данный элемент определяется, как
            мы помним, значением параметра type. В зависимости от значения
            которого, задаются остальные параметры: для текстового поля свои, а
            для радиокнопки совершенно другие. Как же в данном случае
            Существует целая группа тегов, кардинально меняющихся в
            зависимости от параметров и их значений. Несомненным лидером
            является несомненно тег, который может быть представлен,
            например, и в виде кнопки, и в виде текстового поля или даже
            радиокнопки. Во что превратиться данный элемент определяется, как
            мы помним, значением параметра type. <a href="http://www.rzd.ru/"> РЖД </a>В зависимости от значения
            которого, задаются остальные параметры: для текстового поля свои, а
            для радиокнопки совершенно другие. Как же в данном случае
            Первый абзац после такого заголовка будет выделяться
            цветом фона и отступом. Вид остальных абзацев останется
            неизменным.
        </p>
        <p class="a2">
            По своей логике дочерние селекторы похожи на селекторы
            контекстные. Разница между ними следующая. Стиль к дочернему
            селектору применяется только в том случае, когда он является
            прямым потомком, иными словами, непосредственно располагается
            внутри родительского элемента.
            Существует целая группа тегов, кардинально меняющихся в
            зависимости от параметров и их значений. Несомненным лидером
            является несомненно тег, который может быть представлен,
            например, и в виде кнопки, и в виде текстового поля или даже
            радиокнопки. Во что превратиться данный элемент определяется, как
            мы помним, значением параметра type. В зависимости от значения
            которого, задаются остальные параметры: для текстового поля свои, а
            для радиокнопки совершенно другие. Как же в данном случае
            Существует целая группа тегов, кардинально меняющихся в
            зависимости от параметров и их значений. Несомненным лидером
            является несомненно тег, который может быть представлен,
            например, и в виде кнопки, и в виде текстового поля или даже
            радиокнопки. Во что превратиться данный элемент определяется, как
            мы помним, значением параметра type. В зависимости от значения
            которого, задаются остальные параметры: для текстового поля свои, а
            для радиокнопки совершенно другие. Как же в данном случаеДля контекстного селектора же
            допустим любой уровень вложенности.
        </p>
        <p class="a3" align=right>
            Удобнее всего применять указанные селекторы для элементов,
            которые обладают иерархической структурой — сюда относятся,
            например, таблицы и разные списки. За счет вложения одного списка
            в другой получаем разновидность меню. Существует целая группа тегов, кардинально меняющихся в
            зависимости от параметров и их значений. Несомненным лидером
            является несомненно тег, который может быть представлен,
            например, и в виде кнопки, и в виде текстового поля или даже
            радиокнопки. Во что превратиться данный элемент определяется, как
            мы помним, значением параметра type. В зависимости от значения
            которого, задаются остальные параметры: для текстового поля свои, а
            для радиокнопки совершенно другие. Как же в данном случае
            Существует целая группа тегов, кардинально меняющихся в
            зависимости от параметров и их значений. Несомненным лидером
            является несомненно тег, который может быть представлен,
            например, и в виде кнопки, и в виде текстового поля или даже
            радиокнопки. Во что превратиться данный элемент определяется, как
            мы помним, значением параметра type. В зависимости от значения
            которого, задаются остальные параметры: для текстового поля свои, а
            для радиокнопки совершенно другие. Как же в данном случае
        </p>
        <a name="urok2"></a>


        <h4>Урок 2</h4>
        <p class="a4">
            Существует целая группа тегов, кардинально меняющихся в
            зависимости от параметров и их значений. Несомненным лидером
            является несомненно тег, который может быть представлен,
            например, и в виде кнопки, и в виде текстового поля или даже
            радиокнопки. Во что превратиться данный элемент определяется, как
            мы помним, значением параметра type. В зависимости от значения
            которого, задаются остальные параметры: для текстового поля свои, а
            для радиокнопки совершенно другие. Как же в данном случае
            Существует целая группа тегов, кардинально меняющихся в
            зависимости от параметров и их значений. Несомненным лидером
            является несомненно тег, который может быть представлен,
            например, и в виде кнопки, и в виде текстового поля или даже
            радиокнопки. Во что превратиться данный элемент определяется, как
            мы помним, значением параметра type. В зависимости от значения
            которого, задаются остальные параметры: для текстового поля свои, а
            для радиокнопки совершенно другие. Как же в данном случае
            поступать со стилевыми свойствами?
        </p>
        <p class="a5" align=right>
            Например, если необходимо все абзацы, выровненные по
            правому краю писать чуть меньше основного текста и серым
            начертанием достаточно указать.Существует целая группа тегов, кардинально меняющихся в
            зависимости от параметров и их значений. Несомненным лидером
            является несомненно тег, который может быть представлен,
            например, и в виде кнопки, и в виде текстового поля или даже
            радиокнопки. Во что превратиться данный элемент определяется, как
            мы помним, значением параметра type. В зависимости от значения
            которого, задаются остальные параметры: для текстового поля свои, а
            для радиокнопки совершенно другие. Как же в данном случаеСуществует целая группа тегов, кардинально меняющихся в
            зависимости от параметров и их значений. Несомненным лидером
            является несомненно тег, который может быть представлен,
            например, и в виде кнопки, и в виде текстового поля или даже
            радиокнопки. Во что превратиться данный элемент определяется, как
            мы помним, значением параметра type. В зависимости от значения
            которого, задаются остальные параметры: для текстового поля свои, а
            для радиокнопки совершенно другие. Как же в данном случае
        </p>



        <a name="spisok"></a>
        <h4>Список</h4>

        <ul>
            <li>Родилась 23 ноября 1998 года</li>
            <li>ВШИТАС</li>
            <li>3 курс</li>
            <li>группа 351717</li>
            <li>09.03.02 "Информационные системы и технологии"</li>
            <li>Начальный уровень знания </li>
        </ul>

        <a name="tabl"></a>

        <h4>Таблица</h4>

        <table border=1 cellspacing=0 cellpadding=10>
            <tr>
                <td>Камни</td>
                <td>Малахит</td>
                <td>Алмаз</td>
                <td>Гранит</td>
            </tr>
            <tr>
                <td>Планеты</td>
                <td>Марс</td>
                <td>Земля</td>
                <td>Венера</td>
            </tr>
            <tr>
                <td>Стихия</td>
                <td>Вода</td>
                <td>Земля</td>
                <td>Огонь</td>
            </tr>
        </table>
    </div>
</body>
</html>