﻿@page "/lab6_web"
<h3>lab6_web</h3>
<style>
    ol.rome {
        list-style-type: upper-roman;
    }

    ul, ol {
        color: white;
    }

    dl {
        color: white;
    }

    ul.disc {
        list-style-type: disc;
    }

    ul.img {
        list-style-type: none;
        list-style-image: url(img/tape_player.png);
    }

    ol.letter {
        list-style-type: lower-latin;
    }
</style>
<dl>
    <dt>Рыси</dt>
    <dd>
        род хищных млекопитающих, относящихся к семейству кошачьих, и включающий 5 видов.
        Благодаря своему внешнему виду рысь представляет собой очень милое животное,
        однако, не стоит заблуждаться - это грозный хищник (но не представляющий угрозы для человека).
    </dd>

    <dt>Тигры</dt>
    <dd>
        Но помимо этого они обладают удивительной силой, благодаря чему считаются сильнейшими среди кошачьих.
        Тигры способны убивать своих противников всего лишь одним ударом лапы, представляете?
        И при этом они являются очень заботливыми и внимательными родителями.
    </dd>

    <dt>Лисицы</dt>
    <dd>
        род млекопитающих, относящихся к семейству псовых.
        Всего в состав рода входит около десятка видов, самым известным из которых является "рыжая лисица".
    </dd>
</dl>


<div>
    <h3>HTML 5</h3>
    <ol start="0">
        <li>
            Том 1 основные алгоритмы
            <aside>
                <ol class="letter">
                    <li>Глава 1. Основные понятия.</li>
                    <li>Глава 2. Информационные структуры.</li>
                </ol>
            </aside>
        </li>
        <li>
            Том 2 Получиcленные алогритмы
            <aside>
                <ul class="disc">
                    <li>Глава 3. Случайные числа.</li>
                    <li>Глава 4. Арифметика.</li>
                </ul>
            </aside>
        </li>
        <li>
            Том 3 Сортировка и поиск

            <aside>
                <ol class="letter">
                    <li>Глава 5. Сортировка.</li>
                    <li>Глава 6. Поиск.</li>
                </ol>
            </aside>

        </li>
        <li>
            Том 4 Комбинаторные алгоритмы
            <aside>
                <ul class="disc">
                    <li>Глава 7. Комбинаторный поиск.</li>
                    <li>Глава 8. Рекурсия.</li>
                </ul>
            </aside>
        </li>
    </ol>
</div>



<ul class="img">
    <li>P тег объявления абзаца</li>
    <li>H1 тег объявления заголовка</li>
    <li>BR тег переноса строки</li>
    <li>STRONG тег жирного выделения</li>
</ul>


<form>
    <h3>phone</h3><input type="tel">
    <h3>car num</h3><input type="tel">
    <h3>year</h3><input type="range">
    <h3>car color</h3><input type="color">
</form>
<div>
    <h3>Phantasm 遥かなるイヂヨナ</h3>
    <audio controls>
        <source src="audio/02. Harukanaru Idiyona.mp3" type="audio/mp3">
        Your browser doesn't support audio
    </audio>
</div>

