﻿@page "/maps"

<h3>На авто</h3>
<h3>Сафу</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d510.1568004473624!2d40.55498595921722!3d64.52712358133762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e0!4m3!3m2!1d64.52636199999999!2d40.5617045!4m5!1s0x44183432700a8e25%3A0x107d93fcbb088d90!2z0KHQtdCy0LXRgNC90YvQuSAo0JDRgNC60YLQuNGH0LXRgdC60LjQuSkg0KTQtdC00LXRgNCw0LvRjNC90YvQuSDQo9C90LjQstC10YDRgdC40YLQtdGCINC40LzQtdC90Lgg0Jwu0JIu0JvQvtC80L7QvdC-0YHQvtCy0LA!3m2!1d64.52899!2d40.5487919!5e0!3m2!1sru!2sru!4v1574937030062!5m2!1sru!2sru"
        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">
</iframe>
<h3>Компьютерный магазин</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d6863.4281453343165!2d40.5377120502389!3d64.52869934031038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e0!4m3!3m2!1d64.52636199999999!2d40.5617045!4m5!1s0x4418342b205035d7%3A0x489d8ee69b067bd8!2sDNS!3m2!1d64.5315384!2d40.5313904!5e0!3m2!1sru!2sru!4v1574937202311!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
<h3>Пешком</h3>
<h3>Сафу</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d3431.8819900314347!2d40.54955197999696!3d64.52736383507525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e2!4m3!3m2!1d64.52636199999999!2d40.5617045!4m5!1s0x44183432700a8e25%3A0x107d93fcbb088d90!2z0KHQtdCy0LXRgNC90YvQuSAo0JDRgNC60YLQuNGH0LXRgdC60LjQuSkg0KTQtdC00LXRgNCw0LvRjNC90YvQuSDQo9C90LjQstC10YDRgdC40YLQtdGCINC40LzQtdC90Lgg0Jwu0JIu0JvQvtC80L7QvdC-0YHQvtCy0LAsINC90LDQsdC10YDQtdC20L3QsNGPINCh0LXQstC10YDQvdC-0Lkg0JTQstC40L3Riywg0LMuINCQ0YDRhdCw0L3Qs9C10LvRjNGB0Lo!3m2!1d64.52899!2d40.5487919!5e0!3m2!1sru!2sru!4v1574937291913!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
<h3>Компьютерный магазин</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d6863.145871384655!2d40.53811745023966!3d64.52982184031859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e2!4m3!3m2!1d64.52636199999999!2d40.5617045!4m5!1s0x4418342b205035d7%3A0x489d8ee69b067bd8!2sDNS!3m2!1d64.5315384!2d40.5313904!5e0!3m2!1sru!2sru!4v1574937253438!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>