﻿@page "/notes"

<h1>заметки</h1>
<div class="container">
    <div class="synopsys">
        <h6>&sect Мультивселенная</h6>
        <p>

            Мультивселенная, существование которой насчитывает уже десятки тысячлетий.<br>
            Она красива и совершенна. Безгранична,темна и красива.<br>
            За свои секреты, она берет клятву молчания со всех хранителей этих секретов.<br>
        </p>
        <h6>&sect Тайны</h6>
        <p>
            Если эти секреты узнали о тебе, то когда ты узнаешь о них будет уже поздно.<br>
            Тебе не убежать от них, их нужно познать, но это познание сопряжено с опасностью.
            Будь осторожен, это тернистый путь. Если хочешь жить- беги, не доверяй никому,<br>
            но знай всегда найдутся те, кто помогут, или те, кто захотят тебе причинить вред.
        </p>
    </div>
</div>
<div class="container">
    <div class="poem">
        <p>
            Я хочу стать частью вселенной<br>
            Познавать тайны жизни вечной<br>
            Понимать цепь реинкарнации<br>
            И смерти цивилизаций…<br>
            Я хочу быть паузой тишины<br>
            Когда умираешь ты<br>
            Когда живешь бессмертием<br>
            Простят ли тебя смертные?
        </p>
        <p>Кирилл Сильвеструм</p>
        <p> &#171;И информатика ваша от дьявола&#187; © Мари</p>
        <p>&#960;&plusmn;&#955;&harr;0</p>
    </div>
</div>
