﻿@page "/stat-html"
<h3>Static HTML</h3>
<a href="Static pages/Site-1.html">Lab1/8</a>
<a href="Static pages/Map.html">Lab 9</a>
<a href="Static pages/lab11.html">Lab 11</a>
<a href="Static pages/lab17.html">Lab 17</a>

@code {

}
