﻿@page "/test"

<h1>test</h1>
<a href="#tables">link</a>
<a href="audio/02. Harukanaru Idiyona.mp3" download="ファンタズムー遙かなるイヂヨナ">download song</A>
<h3>newtab</h3>
<a href="https://narfu.ru/" target="_blank">Narfu</a>
<a href="https://google.com/" target="_blank">Google</a>
<div class="intro">

    <p>
        <a href="img/spectator.png">
            <img src="img/spectator.png" alt="Наблюдатель" title="Наблюдатель" class="img-thumbnail float-left" style="width:150px" />
        </a>
        Time is so sad and fleeting<br>
        Can't be controlled, like a river, never stops<br>
        Space is emptiness, dark and so cold<br>
        Can you define its presence, does it exist?
    </p>
    <p>
        [Chorus]<br>
        We drift through the heavens 果てない想い<br>
        Filled with the love from up above<br>
        He guides my travels せまる刻限<br>
        Shed a tear and leap to a new world
    </p>
    <p>
        [Verse 2]<br>
        Cosmos and their creation<br>
        Tell me, do they exist for infinity?<br>
        Stars burn, burning so bright, but they'll fade<br>
        How will I know? Secret's kept until I die
    </p>
    <p>
        [Chorus]<br>
        Defy my destiny 守りたいもの<br>
        Foolish, but it's humanity<br>
        Imagination 奇跡に変える<br>
        Things you can't conceive<br>
        Revelation
    </p>
    <p>
        [Bridge]<br>
        A drop in the darkness 小さな命<br>
        Unique and precious forever<br>
        Bittersweet memories 夢幻の刹那<br>
        Make this moment last, last forever
    </p>
    <p>
        [Chorus]<br>
        We drift through the heavens 果てない想い<br>
        Filled with the love from up above<br>
        He guides my travels せまる刻限<br>
        Shed a tear and leap to a new world
        <img src="img/sentinel.png" alt="идущий по воде" title="идущий по воде" class="img-fluid" width="640" height="400">
    </p>
</div>
<a name="tables"></a>
@{
    string[,] str = new string[4, 3]
    {
{ "Параметр", "Функция", "Пример" },
{ "table-light", "добавляет светлый фон таблице", "table table-light" },
{ "table-borderless","убирает границы у таблиц","table-borderless" },
{ "table-sm"," сделать таблицу более компактной, уменьшив наполовину внутренний отступ в ячейках "," table-sm" }
    };
}

<div class="container">
    <table class="table table-bordered  table-dark">
        @for (int i = 0; i != 4; i++)
         {
        <tr>
            @for (int j = 0; j != 3; j++)
            {
                if (i == 0)
                {
                    <th> <i> @str[i, j]</i> </th>
                }
                else if (i != 0 && j == 0)
                {
                    <td> class="@str[i, j]" </td>
                }
                else if (i != 0 && j == 1)
                {
                    <td> @str[i, j] </td>
                }
                else if (i != 0 && j == 2)
                {
                    <td>
                        <table class="@str[i, j] ">
                            <tr> <th>TEXT</th> <th>TEXT</th> </tr>
                            <tr> <td>TEXT</td> <td>TEXT</td> </tr>
                        </table>
                    </td>
                }
            }
        </tr>
         }
    </table>
</div>
<div class="container">
    <table class="table table-dark table-bordered table-sm">
        <tr>
            <th rowspan="2" class="text-left align-text-top">TEXT</th>
            <th class="text-center">TEXT</th>
            <th rowspan="2" class="text-center align-bottom">TEXT</th>
            <th class="text-center">TEXT</th>
            <th rowspan="2" class="text-right align-text-top">TEXT</th>
        </tr>
        <tr>
            <td class="text-center"><a href="https://google.com"><i>Поисковик</i></a></td>
            <td class="text-center"><a href="https://google.com"><i>Поисковик</i></a></td>            
        </tr>
        <tr><td class="text-center" colspan="5">TEXT</td></tr> 
    </table>
</div>
<a href="#top"><h1>В начало страницы</h1></a>