*
{
    margin: 0;
    padding: 0%;
    outline:none;
}
body
{
    background-image: url(~/Blazor laboratories/Blazor laboratories/wwwroot/img/Space.png);
    background-size: 100%;
    background-color:#000000d8;
    font-family: monospace;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 130%;
}

ul
{
    font-family: sans-serif;
}
div.head
{
    background: #000000b7;
    height: auto;
    width: auto;
    
}

B{
    color: #da0000;
    font-size: 95%;
}

h1
{
    color: #af2c05;
    font-size: 130%;
    text-align: center;    
}
h3,h4,h5,h6
{
    font-family: 'sans-serif';
    color: white;
    font-size: 100%;
}
p
{
    color:white;
    font-size: 100%;
    margin: 5%;
    text-align: justify;
}
div.intro
{
    background-color: #d49c039c;
    opacity: 1;
    width: 60%;
    height: auto;
    border-radius: 3%;
    float: left;
}

div.sideblock
{
    background-color: #000000b7;
    width: 20%;
    height: auto;
    float: right;
}

div.poem
{
    background-color: #e9700cb0;
    float: left;
    border-radius: 10px;
}
a
{
    text-decoration: none;
    color: #0fec40;
    opacity: 0.86;
    float: left;
    font-size: 80%;
    
}
a:hover
{
    color: #e96f0c;
     width: auto;
  
}
a:visited
{
    color: #ff0000;
     width: auto;
  
}

div.synopsys
{
    background-color: #e96f0c70;
    width: 35%;
    height: 74%;
    float: left;
    border-radius: 3%;
}

footer
{
    background-color: #ff000098;
    width: 100%;
    text-align: justify;
    padding-bottom: auto;
    font-size: 20px;
    border-radius: 10px;
    float: left;
}

  