body{

	background-color: rgb(247, 243, 243);
	background-size:100%;
}

h1{
	text-align: center;
}

.lab11{
	width: 700px;
	height: 2000px;
	float: right;
	background-color: rgba(238, 227, 210, 0.9);
	margin:30px;
}