﻿@media screen {
  iframe.discord-widget {
    border: 0px;
    float: right; } }

@media screen and (min-width: 1280px) and (min-height: 720px) {
  iframe.discord-widget {
    width: 350px;
    height: 500px;
    visibility: visible; } }
  @media screen and (max-width: 900px) {
    iframe.discord-widget {
      visibility: hidden; } }

@media screen {
  h3.error {
    color: red; }
  body.body-style {
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.89);
    font-family: 'Liberation Mono';
    font-size: 130%; }
  .sidebar {
    position: sticky;
    top: 0; } }

@media screen and (min-width: 1280px) and (min-height: 720px) {
  .sidebar {
    width: 250px;
    height: 100vh; } }

@media screen {
  ul {
    font-family: sans-serif; }
  div.intro {
    background-color: rgba(114, 137, 218, 0.8);
    opacity: 1;
    border-radius: 3%;
    float: left; } }
  @media screen and (max-widtgh: 900px) {
    div.intro {
      width: auto; } }

@media screen and (min-width: 1280px) and (min-heigth: 720px) {
  div.intro {
    height: auto;
    width: 60%; } }

@media screen {
    div.intro h1 {
      color: rgba(230, 0, 0, 0.75); }
  strong.highlight {
    color: #da0000;
    font-size: 110%; }
  h1 {
    color: rgba(53, 230, 211, 0.69);
    font-size: 130%;
    text-align: center; }
  h3, h4, h5, h6 {
    font-family: 'sans-serif';
    color: white;
    font-size: 100%; }
  p {
    color: white;
    font-size: 100%;
    margin: 5%;
    text-align: justify; }
  div.sideblock {
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 3px;
    float: right; } }

@media screen and (min-width: 1280px) and (min-height: 720px) {
  div.sideblock {
    width: 350px;
    height: auto; } }
  @media screen and (max-widtgh: 900px) {
    div.sideblock {
      width: auto;
      height: auto; } }

@media screen {
  div.poem {
    background-color: #e9700cb0;
    float: left;
    border-radius: 10px; }
  a.link {
    text-decoration: none;
    color: #0fec40;
    opacity: 0.86;
    float: left;
    font-size: 80%; }
  a:hover {
    color: #e96f0c;
    width: auto; }
  a:visited {
    color: #ff0000;
    width: auto; }
  div.synopsys {
    background-color: #e96f0c70;
    float: left;
    border-radius: 3%; } }

@media screen and (min-width: 1280px) and (min-heigth: 720px) {
  div.synopsys {
    width: 35%;
    height: 74%; } }
  @media screen and (max-width: 900px) {
    div.synopsys {
      width: auto;
      height: auto; } }

@media screen {
  img {
    width: 100%;
    height: 100%;
    margin: 20px; }
  footer {
    background-color: #ff000098;
    width: 100%;
    text-align: justify;
    font-size: 20px;
    border-radius: 10px;
    float: left; } }
