﻿$background-body: rgba(0, 0, 0, 0.89);

@media screen {
    iframe.discord-widget {
        border: 0px;
        float: right;
        @media (min-width: 1280px) {
            @media (min-height:720px) {
                width: 350px;
                height: 500px;
                visibility:visible;
            }
        }
        @media (max-width:900px){
            visibility:hidden;
        }
    }

    h3.error{
        color: red;
    }

    body.body-style {
        background-size: 100%;
        background-color: $background-body;
        font-family: 'Liberation Mono';
        font-size: 130%;
    }

    .sidebar {
        @media (min-width: 1280px) {
            @media (min-height: 720px) {
                width: 250px;
                height: 100vh;
            }
        }
        position: sticky;
        top: 0;
    }

    ul {
        font-family: sans-serif;
    }

    div.intro {
        background-color: rgba(114, 137, 218, 0.80);
        opacity: 1;
        border-radius: 3%;
        float: left;
        @media (max-widtgh:900px) {
            width: auto;
        }


        @media (min-width:1280px) {
            @media (min-heigth:720px) {
                height: auto;
                width: 60%;
            }
        }

        h1 {
            color: rgba(230, 0, 0, 0.75);
        }
    }

    strong.highlight {
        color: #da0000;
        font-size: 110%;
    }

    h1 {
        color: rgba(53, 230, 211, 0.69);
        font-size: 130%;
        text-align: center;
    }

    h3, h4, h5, h6 {
        font-family: 'sans-serif';
        color: white;
        font-size: 100%;
    }

    p {
        color: white;
        font-size: 100%;
        margin: 5%;
        text-align: justify;
    }

    div.sideblock {
        background-color: rgba(0, 0, 0, 0.95);
        border-radius: 3px;
        float: right;

        @media (min-width:1280px) {
            @media (min-height:720px) {
                width: 350px;
                height: auto;
            }
        }

        @media (max-widtgh:900px) {
            width: auto;
            height: auto;
        }
    }

    div.poem {
        background-color: #e9700cb0;
        float: left;
        border-radius: 10px;
    }

    a.link {
        text-decoration: none;
        color: #0fec40;
        opacity: 0.86;
        float: left;
        font-size: 80%;
    }

    a:hover {
        color: #e96f0c;
        width: auto;
    }

    a:visited {
        color: #ff0000;
        width: auto;
    }

    div.synopsys {
        background-color: #e96f0c70;
        float: left;
        border-radius: 3%;
        @media(min-width: 1280px) {
            @media(min-heigth: 720px) {
                width: 35%;
                height: 74%;
            }
        }
        @media (max-width:900px) {
            width: auto;
            height: auto;
        }
    }

    img {
        width:100%;
        height:100%;
        margin: 20px;
    }

    footer {
        background-color: #ff000098;
        width: 100%;
        text-align: justify;
        font-size: 20px;
        border-radius: 10px;
        float: left;
    }
}
